{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}

{% block content %}
    {% block header %}
        {{ super() }}
    {% endblock header %}

<article itemscope itemprop="mainEntity" itemtype="http://schema.org/BlogPosting" itemref="date author" class="tdbc-mx-auto">
    <link itemprop="mainEntityOfPage" href="{{ page.permalink }}" />
    <header>
        <h1 itemprop="headline">{{ page.title | replace(from="EDeA", to="<img style='display: inline-block;' src='/img/edeahub_light_textonly.svg' alt='EDeA' />") | safe}}</h1>
        <span class="muted">{{ post_macros::meta(page=page) }}</span>
    </header>
    <div itemprop="articleBody">
      {{ page.content | safe }}
    </div>

    {% block page_footer %}
        <footer>
            <hr>
            <p>{{ post_macros::author_list() }}
                {% if page.taxonomies.categories %}
                    {%- set category = page.taxonomies.categories[0] %} in <a href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}">{{ category }}</a>
                {%- endif %}
                {% if page.taxonomies.tags -%}
                    and tagged {{ post_macros::tag_list() }}
                {% endif -%}
            </p>
            {% block extra_footer -%}
            {% endblock extra_footer -%}
        </footer>
    {% endblock page_footer -%}
</article>

{% endblock content %}
