body {
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #444
}

h1, h2, h3 {
  line-height: 1.2
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: #444
  }
  a:link {
    color: #5bf
  }
  a:visited {
    color: #ccf
  }
}

/* Flex grid */

* {
  box-sizing: border-box;
}

.flex-grid-wrap {
  padding: 2rem;
}

.flex-grid {
  display: -webkit-box;
  display: flex;
}
.flex-grid > * {
  -webkit-box-flex: 0;
          flex: 0 1 100%;
}
.flex-grid > *:not(:first-child) {
  margin-left: 2rem;
}
@media (max-width: 36rem) {
  .flex-grid {
    flex-wrap: wrap;
  }
  .flex-grid > * {
    margin: 2rem 0 0 !important;
  }
}
@media (min-width: 36rem) {
  .flex-grid + .flex-grid {
    margin-top: 2rem;
  }
}

body {
  min-height: 100vh;
}

.flex-span {
  border: 2px dashed currentcolor;
  border-radius: 4px;
  min-height: 15vh;
  padding: 1rem;
  color: #0178d4;
  font-size: 3rem;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
}
