{% extends "index.html" %}

{% block content %}
    <div class="tdbc-container">
    {% block header %}
        {{ super() }}
    {% endblock header %}
    </div>
    <div class="tdbc-container">
    <h1>Categories</h1>

    {% if terms %}
        <ul>
            {% for term in terms %}
                <li>
                    <a href="{{ term.permalink | safe }}">{{ term.name }}</a>({{ term.pages | length }})
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endblock content %}
