{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}

{% block content %}
    <div class="tdbc-container">
    {% block header %}
        {{ super() }}
    {% endblock header %}
    </div>
    <div class="tdbc-container">
    <h1>{{ term.name }}</h1>

    {% for page in term.pages %}
        {{ post_macros::page_in_list(page=page) }}
    {% endfor %}
    <div class="tdbc-container">
{% endblock content %}
